<li class="nav-item">
  {% if suggested_categories > 0 %}
  <a class="nav-link font-weight-light"
     href="{% url 'admin:projects_projectcategory_changelist' %}"
     title="{{ suggested_categories }} new category suggestion(s)">
    Categories
    <span class="suggested-categories badge badge-info badge-pill">{{ suggested_categories }}</span>
  </a>
  {% endif %}
</li>