{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}New Project{% endblock %}


{% block content %}
  <h2 class="mt-3">New Project</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_field form.title %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.category_id %}
    <div class="form-group" id="group_category_suggestion">
      <label for="{{ form.category_suggestion.id_for_label }}">{{ form.category_suggestion.label }}</label>
        <input
            type="text"
            name="{{ form.category_suggestion.html_name }}"
            maxlength="{{ form.category_suggestion.max_length }}"
            minlength="{{ form.category_suggestion.min_length }}"
            class="form-control"
            title="Category cannot already exist."
            placeholder="{{ form.category_suggestion.label }}"
            id="{{ form.category_suggestion.id_for_label }}"
            pattern="{{ form.category_suggestion_regex }}">
    </div>
    <h3>Tasks</h3>
    <div id="task_container">
      <div class="card task mb-3">
        <div class="card-body">
          <div class="form-row">
            <div class="col-sm-12 col-lg-6">
              <label class="new-task-input">Title:
                <input
                  type="text"
                  name="task_title"
                  required
                  maxlength="200"
                  class="form-control">
              </label>
            </div>
            <div class="col-sm-9 col-lg-5">
              <label class="new-task-input">Budget:
                <input
                  type="number"
                  id="budget_input"
                  name="task_budget"
                  required
                  min = "0"
                  step="0.01"
                  maxlength="200"
                  class="form-control budget-input">
              </label>
            </div>
            <div class="col-sm-3 col-lg-1">
              <label class="new-task-input">&nbsp;
                <select
                  id="id_budget_currency"
                  name="budget_currency"
                  class="form-control budget-currency"
                  title="Set currency in first task. All tasks have same currency."
                  disabled>
                  {% for currency in form.currencies %}
                    <option value="{{ currency }}">{{ currency }}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <label class="new-task-input">Description:
                <textarea
                  name="task_description"
                  required
                  maxlength="500"
                  class="form-control"></textarea>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-lg-6 btn-group">
        <button id="add_task" class="btn btn-outline-secondary" type="button">Add Task</button>
        <button id="remove_task" class="btn btn-outline-danger" type="button">Remove Task</button>
      </div>
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary float-right">Create Project</button>
      </div>
    </div>
  </form>
  {% load static %}
  <script src="{% static 'js/new_project.js' %}"></script>
{% endblock %}
